<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#317EFB"/> 
    <meta name="Description" content="Fixhub, encontre profissionais freelancers, autonomos, bico, encontre clientes">
    <link rel="stylesheet" href="../statics/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script defer type="text/javascript" src="../statics/js/app.js"></script>
    <title>FixHub</title>
</head>

<body>
    <nav class="nav">
        <div id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="logo"> <a href="">Fix<span>Hub</span></a> </div>
        <div id="navbar">
            <a class="hover" href="#">Serviços </a>
            <a class="hover" href="#">Sobre Nós</a>
            <a class="hover" href="#">Criar Conta</a>
            <a class="login" href="#">Entrar </a>
        </div>
    </nav>

    <section class="container">
        <div class="box">
            <div class="aligner">
                <h1>Bem vindo ao Fix<span>Hub</span></h1>
                <p class="responsive">Fazemos o Match entre Prestadores de Serviços e Clientes!</p>

                <div class="buttons">
                    <a href="" class="button">Sou Cliente </a>
                    <a href="" class="button">Sou Prestador </a>
                </div>
            </div>
        </div>

        <div class="overlay">

        </div>
    </section>

    <section class="content">
        <h2>Possuimos Diversos Tipos de profissionais em Nossa Plataforma</h2>
        <p class="intro">Somos parceiros dos mais diversos profissionais da região de São Paulo, quer você precise de um técnico em
            eletrônica ou uma diarista irá encontrar um profissional qualificado pertinho de você!</p>

        <h2>Trabalhamos com Profissionais de Diversas Areas</h2>
        <div class="list">
            <div class="list-item">
                <h5>Beleza</h5>
                <p>• Manicure</p>
                <p>• Sobrancelha</p>
                <p>• Maquiadora</p>
                <p>• Costura</p>
            </div>
            <div class="list-item">
                <h5>Faz Tudo</h5>
                <p>• Reforma Elétrica</p>
                <p>• Chaveiro</p>
                <p>• Encanador</p>
                <p>• Concerto de pia</p>
            </div>
            <div class="list-item">
                <h5>Faxina</h5>
                <p>• Cozinheira</p>
                <p>• Diarista</p>
                <p>• Lavanderia</p>
                <p>• Passadeira</p>
            </div>
            <div class="list-item">
                <h5>Eletrônica</h5>
                <p>• Concerto de Pcs</p>
                <p>• Concerto de Notbooks</p>
                <p>• Concerto de Celulares</p>
                <p>• Concerto de Consoles</p>
            </div>
        </div>
    </section>

    <section class="steps">
        <div class="step">
            <img src="../imgs/enter.png" alt="">
            <h5>Cadastre-se</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga qui porro molestias eius officiis minus
                aliquid voluptate, id doloremque beatae.</p>
        </div>
        <div class="step">
            <img src="../imgs/find.png" alt="">
            <h5>Procure e Seja encontrado</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga qui porro molestias eius officiis minus
                aliquid voluptate, id doloremque beatae.</p>
        </div>
        <div class="step">
            <img src="../imgs/deal.png" alt="">
            <h5>Feche o acordo</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga qui porro molestias eius officiis minus
                aliquid voluptate, id doloremque beatae.</p>
        </div>
    </section>

    <footer>
        <div class="footer">
            <div class="column">
                <h4>FixHub</h4>
                <a href="">Nossa História</a>
                <a href="">SAC</a>
                <a href="">Termos de Uso</a>
            </div>

            <div class="column">
                <h4>Para Prestadores de Serviço</h4>
                <a href="#">Como Funciona </a>
                <a href="#">Avaliação </a>
                <a href="#">Duvidas </a>
            </div>
            <div class="column">
                <h4>Para Clientes</h4>
                <a href="#">Como Funciona </a>
                <a href="#">Avaliação </a>
                <a href="#">Duvidas </a>
            </div>
            <div class="column">
                <h4>Contato</h4>
                <p>Terra do nunca</p>
                <p>Email: atendimento@FixHub.com</p>
                <div>
                    <p>Nos siga nas redes sociais!</p>
                    <a href="http://facebook.com" target="_blank" rel="noopener noreferrer">
                        <img class="social" src="../imgs/facebook3.png" title="Facebook" alt="Facebook">
                    </a>

                    <a href="http://linkedin.com" target="_blank" rel="noopener noreferrer">
                        <img class="social" src="../imgs/linkedin.png" title="Linkedin" alt="Linkedin">
                    </a>

                    <a href="http://youtube.com" target="_blank" rel="noopener noreferrer">
                        <img src="../imgs/youtube.png" alt="Youtube" title="Youtube" class="social">
                    </a>

                    <a href="http://instagram.com" target="_blank" rel="noopener noreferrer">
                        <img src="../imgs/instagram.png" alt="Instagram" title="Instagram" class="social">
                    </a>
                </div>
            </div>
        </div>
        <p class="rights">© 2019 FixHub. Todos os direitos reservados</p>
    </footer>
</body>

</html>