<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description"
        content="Fixhub, encontre profissionais freelancers, autonomos, bico, encontre clientes, Cadastre-se">
    <link rel="stylesheet" href="../statics/css/professionals.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script defer type="text/javascript" src="../statics/js/app.js"></script>
    <title>Para Profissionais</title>
</head>

<body>
    <nav class="nav">
        <div id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="logo"> <a href="index.html">Fix<span>Hub</span></a> </div>

        <div id="navbar">
            <a class="hover" href="test.html">Buscar </a>
            <a class="hover" href="professionals.html">Sobre</a>
            <!--<a class="hover" href="#">saiba mais</a>-->
            <a class="login" href="#">Entrar </a>
        </div>
    </nav>

    <section class="container">
        <div class="box">
            <div class="aligner">
                <h1>Bem vindo ao Fix<span>Hub</span></h1>
                <p class="responsive">A melhor plataforma para prestadores de serviço do Brasil</p>

                <div class="buttons">
                    <a href="" class="button">Cadastre-se</a>
                </div>
            </div>
        </div>

        <div class="overlay">

        </div>
    </section>

    <section class="content">
        <div class="d-flex">
            <div>
                <h2>Conquiste Clientes!</h2>
                <p>Serviço bem feito merece visibilidade, faça seu negócio crescer conosco. Seja visualizado e
                    encontrado por milhares de clientes, converse, negocie e venda via chat, cadastre-se e tenha acesso
                    a esses e outros benefícios agora mesmo!</p>
            </div>
            <div><img class="radius" src="../imgs/marketing.svg" alt=""></div>
        </div>

        <div class="d-flex-r">
            <div>
                <h2>Estamos Aqui Para Ajudar a Todos!</h2>
                <p>Seja você um cuidador de cachorro, uma personal trainer ou barbeiro, estamos aqui para auxilia-lo a
                    crescer e conseguir cada vez mais clientes, nossa tecnologia de ponta e agilidade irá lhe permitir
                    conquistar diversos clientes!</p>
            </div>
            <div><img src="../imgs/team.svg" alt=""></div>
        </div>

        <div class="d-flex">
            <div>
                <h2>Cresça Conosco</h2>
                <p>No FixHub nosso objetivo é dar a prestadores de serviço visibilidade e chance de conquistar dezenas
                    de clientes por mês através de nossa plataforma, tudo isso gratuitamente, sem custo para o prestador
                    de serviços e para quem quer encontralos, basta se divulgar em nossa plataforma, venha crescer com a
                    gente!!!</p>
            </div>
            <div><img src="../imgs/grow.svg" alt=""></div>
        </div>
    </section>

    <section class="sec-b">
        <div class="buttons  content">
            <a href="" class="button">Cadastre-se</a>
        </div>
    </section>

    <footer>
        <div class="footer">
            <div class="column">
                <h4>FixHub</h4>
                <a href="">Nossa História</a>
                <a href="">SAC</a>
                <a href="">Termos de Uso</a>
            </div>

            <div class="column">
                <h4>Para Prestadores de Serviço</h4>
                <a href="#">Como Funciona </a>
                <a href="#">Avaliação </a>
                <a href="#">Duvidas </a>
            </div>
            <div class="column">
                <h4>Para Clientes</h4>
                <a href="#">Como Funciona </a>
                <a href="#">Avaliação </a>
                <a href="#">Duvidas </a>
            </div>
            <div class="column">
                <h4>Contato</h4>
                <p>Rua Paulista, numero 12</p>
                <p>Email: atendimento@FixHub.com</p>
                <div>
                    <p>Nos siga nas redes sociais!</p>
                    <a href="http://facebook.com" target="_blank" rel="noopener noreferrer">
                        <img class="social" src="../imgs/facebook3.png" title="Facebook" alt="Facebook">
                    </a>

                    <a href="http://linkedin.com" target="_blank" rel="noopener noreferrer">
                        <img class="social" src="../imgs/linkedin.png" title="Linkedin" alt="Linkedin">
                    </a>

                    <a href="http://youtube.com" target="_blank" rel="noopener noreferrer">
                        <img src="../imgs/youtube.png" alt="Youtube" title="Youtube" class="social">
                    </a>

                    <a href="http://instagram.com" target="_blank" rel="noopener noreferrer">
                        <img src="../imgs/instagram.png" alt="Instagram" title="Instagram" class="social">
                    </a>
                    <a href="http://instagram.com" target="_blank" rel="noopener noreferrer">
                        <img src="../imgs/github.png" alt="Github" title="Github" class="social">
                    </a>
                </div>
            </div>
        </div>
        <p class="rights">© 2019 FixHub. Todos os direitos reservados</p>
    </footer>
</body>

</html>