<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#317EFB" />
    <meta name="Description" content="Fixhub, encontre profissionais freelancers, autonomos, bico, encontre clientes">
    <link rel="stylesheet" href="../statics/css/style.css">
    <link rel="stylesheet" href="test.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script defer type="text/javascript" src="../statics/js/app.js"></script>
    <title>FixHub</title>
</head>

<body>
    <nav class="nav">
        <div id="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <div class="logo"> <a href="index.html">Fix<span>Hub</span></a> </div>

        <!--<div class="search-box">
                        <input class="search-txt" placeholder="Buscar Serviços" type="text">
                        <a type="submit" class="search-btn"><img src="../imgs/loupe.png" alt=""></a>
                </div>-->

        <div id="navbar">
            <a class="hover" href="test.html">Buscar </a>
            <a class="hover" href="professionals.html">Sobre</a>
            <!--<a class="hover" href="#">saiba mais</a>-->
            <a class="login" href="#">Entrar </a>
        </div>
    </nav>

    <div class="search-box">
        <input class="search-txt" placeholder="Buscar Serviços" type="text">
        <a type="submit" class="search-btn"><img src="../imgs/loupe.png" alt=""></a>
    </div>
</body>

</html>